.signupScreen {
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    max-width: 300px;
    padding: 70px;
    border-radius: 10px;
}

.signupScreen > form {
    display: flex;
    flex-direction: column;
}

.signupScreen > form > h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.signupScreen > form > input {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 13px;
}

.signupScreen > form > button {
    color: white;
    background-color: rgb(184, 38, 38);
    padding: 13px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.signupScreen > form > button:hover {
    color: rgb(184, 38, 38);
    background-color: white;
}

.signupScreen__gray {
    color: gray;
}

.singupScreen__signup:hover {
    cursor: pointer;
    text-decoration: underline;
}
